@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

a {
  color: inherit;
}

.JobContainer img {
  max-height: 3rem;
}

#root {
  display: grid;
  grid-template-areas: 'header header' 'aside main';
  grid-template-columns: 220px 1fr;
  grid-template-rows: 110px 1fr;
}

/*     HEADER     */

header {
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  padding: 10px;
  grid-area: header;
}

.header-logo {
  width: 100px;
  margin-right: 15px;
}

.title {
  font-family: 'Comfortaa', cursive;
}

/*     SIDEBAR     */

aside {
  grid-area: aside;
  padding: 15px;
  border-right: 1px solid grey;
  height: 100vh;
}

.nav-link {
  display: block;
  border-bottom: 1px solid grey;
  height: 70px;
  line-height: 70px; /* Keep this equal to height */
  font-size: 1.4rem;
}

/*     MAIN     */

main {
  grid-area: main;
}

@media (max-width: 750px) {
  #root {
    display: block;
  }
  /*-----SIDEBAR-----*/
  aside {
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: 0.3s all ease;
  }

  aside.open {
    height: 310px; /* Height set for 4 nav links */
  }
  /*-----HAMBURGER-----*/
  .menu-btn-container {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 15px 0 auto;
    top: 20px;
    right: 10px;
  }

  .menu-btn {
    width: 35px;
    height: 4px;
    background: #000;
    border-radius: 4px;
    transition: 0.3s all ease-in-out;
  }

  .menu-btn::before,
  .menu-btn::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 4px;
    background: #000;
    border-radius: 4px;
    transition: 0.3s all ease-in-out;
  }

  .menu-btn::before {
    transform: translateY(-10px);
  }

  .menu-btn::after {
    transform: translateY(10px);
  }

  /* ANIMATION */
  .menu-btn-container.open .menu-btn {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn-container.open .menu-btn::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn-container.open .menu-btn::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}
.profiles {
  margin: 3%;
  display: inline-block;
  text-align: center;
}
.pic {
  border-radius: 50%;
  box-shadow: 10px 10px 24px -6px rgba(0,0,0,0.61);
}
.profileName {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
.profileContainer {
  text-align: center;
}
.aboutContainer {
  margin: 2%;
}
.ourTeam{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 4% 0 4% 0;
}
.aboutHeader {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
h2.aboutHeader {
  font-size: medium;
  margin: 1% 0 1% 0;
}
.jobPic {
  text-align: center;
}
.Text {
  text-align: center;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Text2 {
  text-align: center;
  font-size: 15px;
  border-radius: 20px;
   border-style: solid;
 border-color:#287EC7;
  color: red;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Jobs List */ 

.JobLists {
  padding-top: 18px ;
  padding-inline-start: 15px; 
  list-style-type: initial ;
  list-style-position: inside;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
